body {
    background-image: linear-gradient(
97deg
,#f7415f,#fe734e);
}

.content {
    color: white;
    margin: 60px auto;
}

.content h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}

.content h5 {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.promo {
    background-color: #5d53a7;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    margin-bottom: 25px;
}
.promo span {
    color: #959598;
}

.input {
    padding: 30px 20px;
    border: none;
    border-radius: 6px;
    background-color: white;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #38cc8a;
    border: none;
}
